.pricediv{display: flex}

h3{ background-color: rgb(20, 56, 56); border-radius: 20px; width: 200px; height: 40px; color: blanchedalmond; padding-left: 100px; padding-top: 15px}

.bigdiv{border: 10px solid rgb(255, 176, 176);}

